/*..............Header*/

.navbar-brand {
    font-size: 35px;
}

.carousel-item img {
    height: 600px;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.carousel-caption {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

/*..............My Intoduction*/

.introcontainer {
    background-color: white;
    padding-top: 20px;
} 

.img-thumbnail {
    height: 80%;
    width: 100%;
    margin: 30px 0 30px 0;
}

.myquestion {
    width: 100%;
    padding: 0;
    margin: 30px 25px 30px 25px;
    height: auto;
    text-align: left;
    color: black;
    font-weight: 650;
    font-size: 30px;
}

.mymessage {
    width: 100%;
    padding: 0;
    margin: 30px 25px 0px 25px;
    height: auto;
    text-align: left;
    color: black;
    font-weight: 350;
    font-style: italic;
    font-size: 25px;
}

/*..............Portfolio*/

.portfoliocontainer {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table {
    margin-top: 20px;
}

.graphimage {
    margin: 50px 0 40px 0;
}

/*..............Services*/

.servicescontainer {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.servicetable {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
}

/*..............Contact*/

.contactcontainer {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projectcontactform {
    padding:20px;
}

/*..............Footer*/

footer {
    background-color:rgba(16, 160, 243, 0.199);
    min-height: 65px;
    max-height: 120px;
    text-align: center;
    display: absolute;
    bottom: 0;
    padding-top: 15px;
    margin: 0;
}

.social-links a {
    color: rgb(0, 7, 10);
    font-size: 25px;
    text-decoration: none;
    border-radius: 50%;
    letter-spacing: 25px;
}

.social-links a i{
    text-align: center;
    padding: 12px;
    width: 12px;
    height: 12px;
}

.social-links a:hover {
    color:rgb(6, 122, 230);
}